<a class="navbar-brand" href="./">
      <h1 class="text-light" style="font-size: 18px;"><img src="assets/img/PBX.gif" height="50">PolarBear X Crypto Copytrade </h1>
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
      <a class="btn btn-warning btn-sm goldenBack btnBuy">Menu</a>
    </button>
    <div class="collapse navbar-collapse" id="collapsibleNavbar">
      <ul class="navbar-nav">
        <li class="nav-item active">
          <a class="nav-link text-light" href="#"><strong><i class="fas fa-home"></i> Home</strong></a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-light" href="#"><strong><i class="fas fa-users"></i> Copytrade</strong></a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-light" href="#"><strong><i class="fas fa-chart-area"></i> DEX (For Fund Manager)</strong></a>
        </li>    
      </ul>
    </div>  